n8n-workflows/Telegram_AI_Assistant.json
{
  "name": "Telegram AI Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-ai-assistant"
    },
    {
      "parameters": {
        "url": "=http://ai-assistant:8000/ask",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify($json.body) }}"
      },
      "id": "call-ai-service",
      "name": "Call AI Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "= 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage'",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"chat_id\": ($json.body && $json.body.message && $json.body.message.chat && $json.body.message.chat.id),\n  \"text\": ($('Call AI Service').item.json && $('Call AI Service').item.json.ad_text) || 'Đã xử lý xong'\n}) }}"
      },
      "id": "send-to-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"message\": \"Processed successfully\",\n  \"ad_text\": $('Call AI Service').item.json.ad_text,\n  \"drive_file_id\": $('Call AI Service').item.json.drive_file_id\n}) }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Call AI Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Service": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "telegram-ai-assistant-workflow",
  "meta": {
    "instanceId": "local"
  },
  "tags": []
}
